{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4 text-center">My Listings</h2>
    <div class="text-center mb-4">
        <a href="{% url 'add_listing' %}" class="btn btn-success">Add Listing</a>
    </div>
    <ul class="list-group">
        {% for listing in listings %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    {{ listing.title }} - <span class="badge badge-info">{{ listing.status }}</span>
                </span>
                <span>
                    <a href="{% url 'edit_listing' listing.pk %}" class="btn btn-sm btn-success">Edit</a>
                    <a href="{% url 'delete_listing' listing.pk %}" class="btn btn-sm btn-danger">Delete</a>
                </span>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
